*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --main-font: 'Roboto', Tahoma, sans-serif;
  --body-background: #ffff;
  --header-color: #ffffff;
  --hero-title-color: #ffffff;
  --main-text-title-color: #212121;
  --second-text-title-color: #757575;
  --hover-buton-color: #2196f3;
  --logo-color: #000000;
  --button-portfolio-colour: #f5f4fa;
  --icons--team-color: #afb1b8;
}

body {
  font-family: var(--main-font);
  background-color: #ffff;
}

body.no-scroll {
  overflow-y: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes bounce-left {
  0% {
    transform: translateX(-48px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateX(-26px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateX(-13px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateX(-6.5px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateX(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    transform: translateX(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateX(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  border-bottom: 1px solid #eeeeee;
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    display: flex;
    align-items: center;
  }
}

.logo-header {
  display: inline-block;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--hover-buton-color);
}

@media screen and (min-width: 1200px) {
  .logo-header {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--black {
  color: var(--logo-color);
}

.logo--white {
  color: #ffff;
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .header-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-list {
    margin-left: 88px;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header-list__item {
    margin-left: 50px;
  }
  .header-list__item:first-child {
    margin-left: 0;
  }
}

.header-list__link {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link:hover, .header-list__link:focus {
  color: var(--hover-buton-color);
}

@media screen and (min-width: 1200px) {
  .header-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .link--line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    background-color: var(--hover-buton-color);
    animation: bounce-left 0.4s both;
  }
}

@media screen and (min-width: 768px) {
  .current {
    color: var(--hover-buton-color);
  }
}

@media screen and (max-width: 768px) {
  .auth-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  .auth-nav__item {
    margin-bottom: 10px;
  }
}

.auth-nav__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-direction: row;
  }
  .auth-nav__item {
    margin-bottom: 0px;
  }
  .auth-nav__item {
    margin-left: 50px;
  }
  .auth-nav__item:first-child {
    margin-left: 0px;
  }
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--hover-buton-color);
}

@media screen and (min-width: 768px) {
  .auth-nav__link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--second-text-title-color);
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__link {
    display: flex;
    padding: 0;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.auth-nav__icon {
  margin-right: 10px;
  fill: var(--second-text-title-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover .auth-nav__icon,
.auth-nav__link:focus .auth-nav__icon {
  fill: var(--hover-buton-color);
}

@media screen and (min-width: 768px) {
  .auth-nav__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__icon {
    margin-right: 10px;
  }
}

.menu-button {
  position: relative;
  z-index: 10;
  padding: 0;
  margin-left: auto;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  opacity: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  z-index: 9;
  background-color: #ffff;
  transition: 400ms;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu.is-open {
  transform: translateX(0);
  opacity: 1;
}

.menu__nav {
  margin-bottom: auto;
}

.menu-icon__open {
  opacity: 1;
}

.menu-button.is-open .menu-icon__open {
  opacity: 0;
}

.menu-icon__close {
  opacity: 0;
}

.menu-button.is-open .menu-icon__close {
  opacity: 1;
}

.menu__nav-item {
  margin-bottom: 32px;
}

.menu__nav-item:last-child {
  margin-bottom: 0;
}

.menu__nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-title-color);
}

.menu__nav-link:hover, .menu__nav-link:focus {
  color: var(--hover-buton-color);
}

.menu__contacts-list {
  margin-bottom: 32px;
}

.menu__contacts-item {
  margin-bottom: 32px;
}

.menu__contacts-item:last-child {
  margin-bottom: 0;
}

.menu__contacts-link--phone {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--hover-buton-color);
}

@media screen and (max-width: 479px) {
  .menu__contacts-link--phone {
    font-size: 24px;
  }
}

.menu__contacts-link--mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-text-title-color);
}

.menu__social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -10px;
}

.menu__social-item {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.menu__social-item:last-child {
  margin-right: 0;
}

.line::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.menu__social-link {
  padding-right: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--hover-buton-color);
}

.current {
  color: var(--hover-buton-color);
}

.menu-icon__open:hover,
.menu-icon__close:hover {
  fill: var(--hover-buton-color);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mob/hero.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mob/hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tab/hero-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tab/hero-tab@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-background.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desc/img@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero-section__title {
  font-style: normal;
  font-weight: 900;
  text-align: center;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  color: var(--hero-title-color);
  text-transform: uppercase;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-section__button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--header-color);
  background-color: #2196f3;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section__button:hover, .hero-section__button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .benefits__container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__container {
    display: flex;
  }
}

@media screen and (max-width: 767.98px) {
  .benefits-list__item {
    margin-bottom: 30px;
  }
  .benefits-list__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .benefits-list__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    display: flex;
    gap: 30px;
  }
  .benefits-list__item {
    width: 270px;
  }
}

.benefits-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  max-width: 450px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--button-portfolio-colour);
}

@media screen and (min-width: 768px) {
  .benefits-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
  }
}

.benefits-content__icon {
  width: 70px;
  height: 70px;
}

.benefits-list__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-text-title-color);
}

@media screen and (min-width: 768px) {
  .benefits-list__title {
    text-align: start;
  }
}

.benefits-list__text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-text-title-color);
}

@media screen and (max-width: 1199.98px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    padding-bottom: 94px;
  }
}

.work-title {
  margin-bottom: 50px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-title-color);
}

.work-list {
  display: flex;
}

.work-list__item {
  margin-right: 30px;
  position: relative;
}

.work-list__item:last-child {
  margin-right: 0;
}

.work-label {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-label__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.our-team-section {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team {
  margin-bottom: 30px;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: var(--main-text-title-color);
}

@media screen and (min-width: 1200px) {
  .our-team {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
  }
}

.our-team-list .item {
  text-align: center;
  background-color: var(--hero-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  width: 450px;
}

@media screen and (min-width: 768px) {
  .our-team-list .item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-list .item {
    margin-right: 30px;
  }
  .our-team-list .item:last-child {
    margin-right: 0;
  }
}

.our-team-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-title-color);
}

.our-team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-text-title-color);
}

.media-team {
  padding: 30px 15px 30px 15px;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .media-team {
    padding: 30px 15px 30px 15px;
    margin: 0;
  }
}

.team-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-team-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--hero-title-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-team-icon:hover {
  background-color: var(--hover-buton-color);
}

.icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.icon-item:last-child {
  margin-right: 0;
}

.icon-item:hover .icon-team,
.icon-item:focus .icon-team {
  fill: var(--header-color);
}

.icon-item:last-child {
  margin-right: 0;
}

.icon-team {
  display: block;
  fill: var(--icons--team-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-section {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--header-color);
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding-bottom: 94px;
    padding-top: 94px;
    padding-left: 0;
    padding-right: 0;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 767.98px) {
  .clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    align-items: center;
    gap: 0;
  }
}

@media screen and (max-width: 767px) {
  .clients-list .item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list .item {
    margin-right: 30px;
  }
  .clients-list .item:last-child {
    margin-right: 0px;
  }
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover .clients-logo,
.clients-list-link:focus .clients-logo {
  fill: var(--hover-buton-color);
}

.clients-list-link:hover, .clients-list-link:focus {
  border: 1px solid var(--hover-buton-color);
}

@media screen and (min-width: 768px) {
  .clients-list-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-link {
    width: 170px;
  }
}

.clients-logo {
  display: block;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-buttons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio-buttons-list {
    display: flex;
    justify-content: center;
    gap: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-buttons-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) {
  .portfolio-buttons-list .item {
    margin-right: 8px;
    margin-bottom: 15px;
  }
  .portfolio-buttons-list .item:last-child {
    margin-right: 0;
  }
  .portfolio-buttons-list .item:nth-child(n + 4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-buttons-list .item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-buttons-list .item {
    margin-right: 8px;
  }
  .portfolio-buttons-list .item:last-child {
    margin-right: 0;
  }
}

.portfolio-button {
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--button-portfolio-colour);
  color: var(--main-text-title-color);
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-section-list {
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .portfolio-section-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-section-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .portfolio-section-list .item {
    margin-bottom: 30px;
  }
  .portfolio-section-list .item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-section-list .item {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-section-list .item {
    margin: 0;
  }
}

.card-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover, .card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-link:hover .product-description {
  transform: translateY(0);
}

@media screen and (min-width: 480px) {
  .card-link {
    display: block;
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .card-link {
    display: flex;
    flex-direction: column;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card-link {
    display: block;
    width: 370px;
  }
}

.image-cover {
  position: relative;
  overflow: hidden;
}

.product-description {
  flex-grow: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 15px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .product-description {
    padding: 63px 24px;
    font-size: 18px;
  }
}

.portfolio-title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-title-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--second-text-title-color);
}

.card-container {
  flex-grow: 1;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-web {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-web {
    display: flex;
    align-items: baseline;
  }
}

.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--hover-buton-color);
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--complain {
  display: block;
  margin-bottom: 20px;
}

.logo--white {
  color: #ffff;
}

.footer-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress:hover, .footer-adress:focus {
  color: #2196f3;
}

.footer-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts:hover, .footer-contacts:focus {
  color: #2196f3;
}

.footer-list {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-list {
    margin: 0;
  }
}

.footer-list .item {
  margin-bottom: 8px;
}

.footer-list .item:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 1200px) {
  .footer-list .item {
    margin-bottom: 9px;
  }
  .footer-list .item:last-child {
    margin-bottom: 0px;
  }
}

.footer-web-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.footer-web-list .item {
  margin-right: 10px;
}

.footer-web-list .item:last-child {
  margin-right: 0;
}

.footer-collums {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-collums {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-collums {
    margin-right: 70px;
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-right: 93px;
  }
}

.footer-invite {
  text-align: center;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
}

@media screen and (min-width: 1200px) {
  .footer-invite {
    text-align: start;
  }
}

.footer-icon-font {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-font:hover, .footer-icon-font:focus {
  background-color: var(--hover-buton-color);
}

.footer-icon {
  fill: var(--hero-title-color);
}

.form-block {
  align-items: center;
}

.form-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.footer-form-title {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-form-title {
    text-align: left;
  }
}

.input-footer {
  max-width: 450px;
  width: 100%;
  height: 50px;
  padding: 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
  color: var(--header-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.input-footer:focus {
  outline: transparent;
}

@media screen and (min-width: 768px) {
  .input-footer {
    width: 450px;
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .input-footer {
    width: 358px;
    padding: 16px;
    margin-right: 12px;
  }
}

.form-button-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--hero-title-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  background: #2196f3;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button-footer:hover, .form-button-footer:focus {
  background: #188ce8;
}

.send-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  max-width: 450px;
  width: 100%;
  z-index: 100;
}

@media screen and (min-width: 480px) {
  .modal-window {
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    max-width: 528px;
  }
}

.backdrop.is-hidden .modal-window {
  opacity: 0;
}

.backdrop .modal-window {
  opacity: 1;
}

.button-close {
  position: absolute;
  display: flex;
  align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover, .button-close:focus {
  fill: var(--hover-buton-color);
}

.close-icon {
  width: 18px;
  height: 18px;
}

.form {
  padding: 40px 40px;
}

@media screen and (min-width: 1200px) {
  .form {
    width: 528px;
  }
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-title-color);
}

.form-input {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--hover-buton-color);
}

.form-input:focus:focus + .label-icon {
  fill: var(--hover-buton-color);
}

.label-icon {
  position: absolute;
  top: 30px;
  left: 12px;
  fill: var(--main-text-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area-label:focus {
  border-color: var(--hover-buton-color);
}

.label-title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field ::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.text-area-label {
  height: 116px;
  padding: 12px 16px;
  resize: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 10px;
  width: 16px;
  height: 15px;
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid var(--main-text-title-color);
  background-color: var(--hero-title-color);
}

.icon-check {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-agreement {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.agreement-checkbox:checked + .custom-checkbox {
  border-radius: 2px;
  background-color: var(--hover-buton-color);
  border: 2px solid var(--hover-buton-color);
  border: 0;
}

.field-policy {
  color: #757575;
  font-size: 12px;
  line-height: 1.16;
  top: 0;
}

@media screen and (min-width: 1200px) {
  .field-policy {
    position: relative;
    top: -5px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.policy-link {
  text-decoration: underline;
  color: var(--hover-buton-color);
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0;
  color: #ffffff;
  background-color: var(--hover-buton-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover, .button-submit:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */