.header {
  border-bottom: 1px solid #eeeeee;
}
.header__container {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.logo-header {
  display: inline-block;

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--hover-buton-color);
  @include mq(tablet) {
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--black {
  color: var(--logo-color);
}
.logo--white {
  color: #ffff;
}
.header-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.header-list {
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: 88px;
    display: flex;
  }
}
.header-list__item {
  @media screen and (min-width: 768px) {
    margin-left: 50px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.header-list__link {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  display: block;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--hover-buton-color);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.link--line::after {
  @media screen and (min-width: 768px) {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    background-color: var(--hover-buton-color);
    animation: bounce-left 0.4s both;
  }
}

.current {
  @media screen and (min-width: 768px) {
    color: var(--hover-buton-color);
  }
}
.auth-nav {
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    &__item {
      margin-bottom: 10px;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-direction: row;
    &__item {
      margin-bottom: 0px;
    }

    &__item {
      margin-left: 50px;
    }
    &__item:first-child {
      margin-left: 0px;
    }
  }
}

.auth-nav__link {
  &:hover,
  &:focus {
    color: var(--hover-buton-color);
  }
  @media screen and (min-width: 768px) {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--second-text-title-color);
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    padding: 0;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.auth-nav__icon {
  margin-right: 10px;
  fill: var(--second-text-title-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .auth-nav__link:hover &,
  .auth-nav__link:focus & {
    fill: var(--hover-buton-color);
  }
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }
}
