.work {
  @include mq(notDesktop) {
    display: none;
  }
  @include mq(desktop) {
    padding-bottom: 94px;
  }
}
.work-title {
  margin-bottom: 50px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-title-color);
}
.work-list {
  display: flex;
}
.work-list__item {
  margin-right: 30px;
  position: relative;
  &:last-child {
    margin-right: 0;
  }
}

.work-label {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.work-label__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}
