:root {
  --main-font: 'Roboto', Tahoma, sans-serif;

  --body-background: #ffff;

  --header-color: #ffffff;

  --hero-title-color: #ffffff;

  --main-text-title-color: #212121;

  --second-text-title-color: #757575;

  --hover-buton-color: #2196f3;

  --logo-color: #000000;

  --button-portfolio-colour: #f5f4fa;

  --icons--team-color: #afb1b8;
}
